<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="stylesheet" href="/static/css/cor-padrao.css">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/static/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bootstrap-icons-1.8.3/bootstrap-icons.css">
  <script src="/static/bootstrap-5.2.0-beta1-dist/js/bootstrap.min.js"></script>
</head>

<body>

  <header
    class="d-flex flex-wrap align-items-center justify-content-around justify-content-md-between py-3 pt-md-2 pt-sm-5 ps-lg-5 bg-header">
    <a href="/" class="d-flex align-items-center pe-3">
      <img class="img-logo" src="/static/imagens/logo.PNG" alt="Logo Franco Consultoria de Imóveis">
    </a>

    <div class="col-md-3 text-end pe-lg-5 botao-header">
      <button type="button" class="btn me-2 botao-header botao-header-desktop " type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu" id><span
          class="txt-botao-header">Buscar Lançamentos</span> <i class="bi bi-search cor-icone"></i>
      </button>


      <button type="button" class="btn botao-header botao-header-mobile " data-bs-toggle="modal"
        data-bs-target="#modalBuscarLancamento"><span class="txt-botao-header">Buscar Lançamentos</span><i
          class="bi bi-search cor-icone"></i>
      </button>

      <button type="button" class="btn botao-header" data-bs-toggle="modal" data-bs-target="#modalMenu"></i><span
          class="txt-botao-header">Menu</span> <i class="bi bi-list cor-icone"></i>
      </button>
    </div>
  </header>

  <!--Conteúdo >Menu colapsado do Buscar Lançamentos -->
  <div class="collapse" id="collapseMenu">
    <div class="bg-busca">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 area-busca">
          <div class="col">
            <span class="txt-area-busca">Cidade</span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Todas</option>
            </select>
          </div>
          <div class="col">
            <span class="txt-area-busca ">Empreendimento</span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Todas</option>
            </select>
          </div>
          <div class="col">
            <span class="txt-area-busca">Tipo</span>
            <select class="form-select select-area-busca" aria-label="Default select example">
              <option selected>Todas</option>
            </select>
          </div>
          <div class="col">
            <span class="txt-area-busca">Nº de Dormitórios</span>
            <select class="form-select select-area-busca" aria-label="Default select example">
              <option selected>Todas</option>
            </select>
          </div>
          <div class="col">
            <span class="txt-area-busca">Estágio da Obra</span>
            <select class="form-select select-area-busca" aria-label="Default select example">
              <option selected>Todas</option>
            </select>
          </div>
          <div class="col area-busca d-flexjustify-content-between">

            <button type="submit" id="btn-area-busca" class="btn">Buscar <i class="bi bi-search"></i></button>
            <button type="button" id="btn-close-area-busca" class="btn" data-bs-toggle="collapse"
              data-bs-target="#collapseMenu" aria-controls="collapseMenu"><i class="bi bi-x"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <main>
    <!--Conteúdo carousel-->
    <div class="bd-example">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators justify-content-start">
          <div id="btn-carrossel-div">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"
            aria-current="true"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="#" aria-label="Slide 3"
            ></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="#" aria-label="Slide 4"
            ></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="#" aria-label="Slide 5"
            ></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="#" aria-label="Slide 6"
            ></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="#" aria-label="Slide 7"
           ></button>
          </div>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <picture>
              <source media="(max-width: 1024px)" srcset="/static/imagens/mobile-banner.png" type="image/png">
              <img src="/static/imagens/web-banner.png" class="d-block w-100" alt="Imagem Banner Bella Italia">
            </picture>
            
            <div class="carousel-caption text-start carousel-caption-1 d-flex row text-wrap d-md-block ">
              <h1 class="txt-carrossel-1">Novo conceito de inteligência desbloqueado.</h1>
              <p class="sub-txt-carrossel-1">Apartamentos de 63,33m²</p>
              <div class=""><button type="button" class="btn btn-lg button-saiba-mais "><i class="bi bi-plus-circle text-white"></i> SAIBA MAIS</button></div>
            </div>
          </div>
          <div class="carousel-item">
            <picture>
              <source media="(max-width: 1024px)" srcset="/static/imagens/mobile-banner2.png" type="image/png">
              <img src="/static/imagens/web-banner2.png" class="d-block w-100" alt="Imagem Banner Grand Paysage">
            </picture>
            
            <div id="carrossel-2" class="carousel-caption d-md-block ">
              <h1 class="h1-carrossel-2">LANÇAMENTO!</h1>
              <h2 class="h2-carrossel-2">Loteamento fechado de alto padrão em Taubaté</h2>
              <p class="sub-txt-carrossel-2">Terrenos de 250m² a 550m²</p>
              <div class=""><button type="button" class="btn btn-lg button-saiba-mais "><i class="bi bi-plus-circle text-white"></i> SAIBA MAIS</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!--Conteúdo album/catálogo-->
    <div class="album py-5 ">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card card-style blackout-card">
              <img src="/static/imagens/album-img1.png" alt="Imagem de Imóvel">
              <label id="txt-tag-card">EM OBRAS <i class="bi bi-minecart-loaded icon-card"></i></label>

              <div class="card-body">
                <h1 class="h1-txt-card">Duomo Residencial</h1>
                <p class="card-text"><i class="bi bi-geo-alt icon-card"></i> Ubatuba, a Praia Grande</p>
                <p class="card-text"><i class="bi bi-rulers icon-card"></i> 2 ou 3 (1 a 3 suítes) 92m² ou 201m²</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div id="fundo-btn-card" class="btn-group">
                    <button type="button" class="btn btn-sm button-card">MAIS DETALHES</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-style blackout-card">
              <img src="/static/imagens/album-img2.png" alt="Imagem de Imóvel">
              <label id="txt-tag-card"> <i class="bi bi-building icon-card"></i> PRÉ LANÇAMENTO</label>
  
              <div class="card-body">
                <h1 class="h1-txt-card">Duomo Residencial</h1>
                <p class="card-text"><i class="bi bi-geo-alt icon-card"></i> Ubatuba, a Praia Grande</p>
                <p class="card-text"><i class="bi bi-rulers icon-card"></i> 2 ou 3 (1 a 3 suítes) 92m² ou 201m²</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div id="fundo-btn-card" class="btn-group">
                    <button type="button" class="btn btn-sm button-card">MAIS DETALHES</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-style blackout-card">
              <img src="/static/imagens/album-img3.png" alt="Imagem de Imóvel">
              <label id="txt-tag-card"> <i class="bi bi-key-fill icon-card"></i> PRÉ-LANÇAMENTO</label>
  
              <div class="card-body">
                <h1 class="h1-txt-card">Duomo Residencial</h1>
                <p class="card-text"><i class="bi bi-geo-alt icon-card"></i> Ubatuba, a Praia Grande</p>
                <p class="card-text"><i class="bi bi-rulers icon-card"></i> 2 ou 3 (1 a 3 suítes) 92m² ou 201m²</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div id="fundo-btn-card" class="btn-group">
                    <button type="button" class="btn btn-sm button-card">MAIS DETALHES</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card card-style blackout-card">
              <img src="/static/imagens/album-img3.png" alt="Imagem de Imóvel">
              <label id="txt-tag-card"> <i class="bi bi-key-fill icon-card"></i> PRÉ-LANÇAMENTO</label>
  
              <div class="card-body">
                <h1 class="h1-txt-card">Duomo Residencial</h1>
                <p class="card-text"><i class="bi bi-geo-alt icon-card"></i> Ubatuba, a Praia Grande</p>
                <p class="card-text"><i class="bi bi-rulers icon-card"></i> 2 ou 3 (1 a 3 suítes) 92m² ou 201m²</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div id="fundo-btn-card" class="btn-group">
                    <button type="button" class="btn btn-sm button-card">MAIS DETALHES</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-style blackout-card">
              <img src="/static/imagens/album-img1.png" alt="Imagem de Imóvel">
              <label id="txt-tag-card">EM OBRAS <i class="bi bi-minecart-loaded icon-card"></i></label>

              <div class="card-body">
                <h1 class="h1-txt-card">Duomo Residencial</h1>
                <p class="card-text"><i class="bi bi-geo-alt icon-card"></i> Ubatuba, a Praia Grande</p>
                <p class="card-text"><i class="bi bi-rulers icon-card"></i> 2 ou 3 (1 a 3 suítes) 92m² ou 201m²</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div id="fundo-btn-card" class="btn-group">
                    <button type="button" class="btn btn-sm button-card">MAIS DETALHES</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-style blackout-card">
              <img src="/static/imagens/album-img2.png" alt="Imagem de Imóvel">
              <label id="txt-tag-card"> <i class="bi bi-building icon-card"></i> PRÉ LANÇAMENTO</label>
  
              <div class="card-body">
                <h1 class="h1-txt-card">Duomo Residencial</h1>
                <p class="card-text"><i class="bi bi-geo-alt icon-card"></i> Ubatuba, a Praia Grande</p>
                <p class="card-text"><i class="bi bi-rulers icon-card"></i> 2 ou 3 (1 a 3 suítes) 92m² ou 201m²</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div id="fundo-btn-card" class="btn-group">
                    <button type="button" class="btn btn-sm button-card">MAIS DETALHES</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card card-style blackout-card">
              <img src="/static/imagens/album-img2.png" alt="Imagem de Imóvel">
              <label id="txt-tag-card"> <i class="bi bi-building icon-card"></i> PRÉ LANÇAMENTO</label>
  
              <div class="card-body">
                <h1 class="h1-txt-card">Duomo Residencial</h1>
                <p class="card-text"><i class="bi bi-geo-alt icon-card"></i> Ubatuba, a Praia Grande</p>
                <p class="card-text"><i class="bi bi-rulers icon-card"></i> 2 ou 3 (1 a 3 suítes) 92m² ou 201m²</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div id="fundo-btn-card" class="btn-group">
                    <button type="button" class="btn btn-sm button-card">MAIS DETALHES</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-style blackout-card">
              <img src="/static/imagens/album-img3.png" alt="Imagem de Imóvel">
              <label id="txt-tag-card"> <i class="bi bi-key-fill icon-card"></i> PRÉ-LANÇAMENTO</label>
  
              <div class="card-body">
                <h1 class="h1-txt-card">Duomo Residencial</h1>
                <p class="card-text"><i class="bi bi-geo-alt icon-card"></i> Ubatuba, a Praia Grande</p>
                <p class="card-text"><i class="bi bi-rulers icon-card"></i> 2 ou 3 (1 a 3 suítes) 92m² ou 201m²</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div id="fundo-btn-card" class="btn-group">
                    <button type="button" class="btn btn-sm button-card">MAIS DETALHES</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-style blackout-card">
              <img src="/static/imagens/album-img1.png" alt="Imagem de Imóvel">
              <label id="txt-tag-card">EM OBRAS <i class="bi bi-minecart-loaded icon-card"></i></label>
  
              <div class="card-body">
                <h1 class="h1-txt-card">Duomo Residencial</h1>
                <p class="card-text"><i class="bi bi-geo-alt icon-card"></i> Ubatuba, a Praia Grande</p>
                <p class="card-text"><i class="bi bi-rulers icon-card"></i> 2 ou 3 (1 a 3 suítes) 92m² ou 201m²</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div id="fundo-btn-card" class="btn-group">
                    <button type="button" class="btn btn-sm button-card">MAIS DETALHES</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      <div class="container-btn-tds-lancamentos">
        <button class="btn-ver-tds-lancamentos">VER TODOS OS LANÇAMENTOS</button>
      </div>

  
  </main>

<!-- Modal Full screen Menu
<div class="modal fade" id="modalMenu" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"
aria-modal="true" role="dialog">
<div class="modal-dialog modal-fullscreen">
  <div class="modal-content bg-menu bg-menu-right">
    <div class="d-flex justify-content-end bg-menu-right p-5">
      <button type="button" class="btn fechar-modal text-white" data-bs-dismiss="modal"
        aria-label="Close">Fechar <i class="bi bi-x-lg"></i></button>
    </div>
    
    <div class="container marketing">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2 bg-menu-right">
          <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1 bg-menu-left">
          <H1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut eum aliquam modi vitae, soluta accusamus reprehenderit, architecto consequuntur quos necessitatibus odit rerum assumenda tempora tempore, quam sapiente velit quasi cupiditate.</H1>
        </div>
      </div>
  
    </div>-->





























  </div>
</div>


































  <!-- Modal Full screen Pesquisar-->
  <div class="modal fade" id="modalBuscarLancamento" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"
    aria-modal="true" role="dialog">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content bg-busca">
        <div class="d-flex justify-content-end bg-busca">
          <button type="button" class="btn fechar-modal text-white pt-5" data-bs-dismiss="modal"
            aria-label="Close">Fechar <i class="bi bi-x-lg"></i></button>
        </div>
        <h1 class="txt-area-busca-mobile">Buscar Lançamentos</h1>
        <div class="container bg-busca">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6">
            <div class="col">
              <span class="txt-area-busca">Cidade</span>
              <select class="form-select" aria-label="Default select example">
                <option selected>Todas</option>
              </select>
            </div>
            <div class="col">
              <span class="txt-area-busca">Empreendimento</span>
              <select class="form-select" aria-label="Default select example">
                <option selected>Todas</option>
              </select>
            </div>
            <div class="col">
              <span class="txt-area-busca">Tipo</span>
              <select class="form-select select-area-busca" aria-label="Default select example">
                <option selected>Todas</option>
              </select>
            </div>
            <div class="col">
              <span class="txt-area-busca">Nº de Dormitórios</span>
              <select class="form-select select-area-busca" aria-label="Default select example">
                <option selected>Todas</option>
              </select>
            </div>
            <div class="col">
              <span class="txt-area-busca">Estágio da Obra</span>
              <select class="form-select select-area-busca" aria-label="Default select example">
                <option selected>Todas</option>
              </select>
            </div>
            <div class="col area-busca d-flexjustify-content-between">
              <button type="submit" id="btn-area-busca-mobile" class="btn">Buscar <i class="bi bi-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const myModal = new bootstrap.Modal('#menuModal', {
        keyboard: false
      })
    </script>
</body>

</html>