/* HEADER */

.bg-header {
    background-color: var(--red);
}

.btn.botao-header {
    border: none;
}

.txt-botao-header {
    color: var(--white);
    width: 122px;
    height: 40px;
    border-radius: 3px;
    font-weight: 600;
}

.btn.botao-header:hover {
    background-color: var(--redhover);
    border: none;
}

.cor-icone {
    color: var(--white);
}

@media (max-width: 1024px) {
    .img-logo {
        width: 80%;
    }

    .txt-botao-header {
        visibility: visible;
        visibility: hidden;
        visibility: collapse;
        display: none;
    }

    .botao-header-desktop{
        display: none !important;
    }

    .txt-carrossel-1{
        font-size: 30px !important;
        color: black;
        width: 90%!important;
    }
    
    .sub-txt-carrossel-1 {
        font-weight: 16;
        font-size: 16px;
        color: var(--red);
        width: 90%!important;
    }

    .carousel-caption{
        position: relative!important;
    }

    .btn.button-saiba-mais{
        background-color: var(--red);
        color: var(--white);
        border-radius: 3px;
        border: none;
        height: 48px;
        width: 218px;
        left: 1%;
    }
    
    .btn.button-saiba-mais:hover{
        background-color: black;
        color: var(--white);
        border: none;
        
    }
}

@media (min-width: 1024px) {
    .botao-header-mobile{
        display: none !important;
    }

    .txt-carrossel-1{
        font-weight: 300;
        font-size: 68px;
        width: 25%!important;
    }

    .sub-txt-carrossel-1 {
        font-weight: 400;
        font-size: 26px;
        line-height: 48px;
        color: var(--red);
    }

    .btn.button-saiba-mais{
        background-color: var(--red);
        color: var(--white);
        border-radius: 3px;
        border: none;
        height: 48px;
        width: 210px;
        left: 1%;
    }
    
    .btn.button-saiba-mais:hover{
        background-color: black;
        color: var(--white);
        border: none;
        
    }
}

/* ÁREA DE BUSCA */

.bg-busca {
    background-color: var(--blue) !important;
}

.area-busca {
    padding: 21px 60px 21px 60px;
}

.txt-area-busca {
    color: var(--white);
}

.select-area-busca {
    width: auto;
    height: 40px;
    border-radius: 3px;
}

#btn-area-busca {
    background-color: var(--red);
    color: var(--white);
    width: 122px;
    height: 40px;
    border-radius: 3px;
    font-weight: 600;
    border: none;
}

#btn-area-busca:hover {
    background-color: var(--redhover);
    color: var(--white);
    border: none;
}

#btn-close-area-busca {
    width: 40px;
    height: 40px;
    background: var(--red);
    border-radius: 3px;
    border: none;
    color: var(--white);
    font-weight: 600;
}

#btn-close-area-busca:hover {
    background-color: var(--redhover);
}

.form-select {
    color: #737380 !important;
}

/* CARROSSEL */
.bg-btn-carrosel {
    background-color: black !important;
}

.carousel-caption.carousel-caption-1{
    right: 0;
    text-align: left;
    left: 5%;
    padding-bottom: 3rem;
}







/* Modal Buscar Lançamentos (Mobile)*/

.txt-area-busca-mobile {
    padding: 1.5rem;
    font-weight: 400;
    font-size: 42px;
    line-height: 40px;
    color: var(--white);
}

.area-busca-mobile {
    padding: auto;
}

#btn-area-busca-mobile{
    width: 100%;
    background-color: var(--red);
    color: var(--white);
    height: 40px;
    border-radius: 3px;
    font-weight: 600;
    border: none;
}