@charset "UTF-8";

@font-face {
    font-family: 'GothamMedium_1';
    src: url('../fontes/GothamMedium_1.ttf') format('truetype');
}

@font-face {
    font-family: 'GothamBook';
    src: url('../fontes/GothamBook.ttf') format('truetype');
}

@font-face {
    font-family: 'GothamBold';
    src: url('../fontes/GothamBold.ttf') format('truetype');
}

@font-face {
    font-family: 'GothamLight';
    src: url('../fontes/GothamLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Thin';
    src: url('../fontes/Gotham-Thin.otf') format('truetype');
}

@font-face {
    font-family: 'Gotham-XLight';
    src: url('../fontes/Gotham-XLight.otf') format('truetype');
}

body, html{
    height: 100%;
}

/* HEADER */
.bg-header {
    background-color: var(--red);
}

.btn.botao-header {
    border: none;
}

.txt-botao-header {
    color: var(--white);
    width: 122px;
    height: 40px;
    border-radius: 3px;
    font-weight: 600;
}

.btn.botao-header:hover {
    background-color: var(--redhover);
    border: none;
}

.cor-icone {
    color: var(--white);
}

/* ÁREA DE BUSCA */
.bg-busca {
    background-color: var(--blue) !important;
}

.area-busca {
    padding: 21px 0 21px 0;
}

.txt-area-busca {
    color: var(--white);
}

.select-area-busca {
    width: auto;
    height: 40px;
    border-radius: 3px;
}

#btn-area-busca {
    background-color: var(--red);
    color: var(--white);
    width: 122px;
    height: 40px;
    border-radius: 3px;
    font-weight: 600;
    border: none;
}

#btn-area-busca:hover {
    background-color: var(--redhover);
    color: var(--white);
    border: none;
}

#btn-close-area-busca {
    width: 40px;
    height: 40px;
    background: var(--red);
    border-radius: 3px;
    border: none;
    color: var(--white);
    font-weight: 600;
}

#btn-close-area-busca:hover {
    background-color: var(--redhover);
}

.form-select {
    color: #737380 !important;
}

/* CARROSSEL */
#btn-carrossel-div button {
    background-color: #EEEEEE;
}

.carousel-indicators.justify-content-start {
    margin-left: 6rem;
}

/*====Carrossel 2====*/
#carrossel-2 {
    /*Todo conteudo da div incluindo h1, h2, button, etc*/
    text-align: start;
    left: 8%;
    padding-bottom: 5.25rem;
}

.h1-carrossel-2 {
    /*Lançamento!*/
    color: black;
}

.h2-carrossel-2 {
    /*Loteamento fechado de alto padrão em Taubaté!*/
    color: black;
    font-size: 42px;
    width: 665px;
    padding-top: 0.5rem;
}

.sub-txt-carrossel-2 {
    /*Terrenos de 250m² a 550m*/
    color: #737380;
    font-size: 26px;
    font-weight: 400;
}

/* Modal Buscar Lançamentos (Mobile)*/
.txt-area-busca-mobile {
    padding: 1.5rem;
    font-weight: 400;
    font-size: 42px;
    line-height: 40px;
    color: var(--white);
}

.area-busca-mobile {
    padding: auto;
}

#btn-area-busca-mobile {
    width: 100%;
    background-color: var(--red);
    color: var(--white);
    height: 40px;
    border-radius: 3px;
    font-weight: 600;
    border: none;
}

/*Conteúdo album/catálogo */

.card.card-style {
    border-width: 0;
}

.blackout-card img:hover  {
    filter: brightness(80%);

}

.blackout-card img:hover ~ span {
    background: white !important;

}

.blackout-card img:hover ~ div .h1-txt-card {
    color: var(--red);
}

.h1-txt-card {
    color: var(--titulocard);
    /*Duomo Residencial*/
    font-size: 28px;
    font-weight: 400;
    font-family: 'GothamMedium_1';
}

.card-text {
    /*Ubatuba, a Praia Grande e 2 ou 3 (1 a 3 suítes) 92m² ou 201m²*/
    color: black;
    font-size: 18px;
    font-family: 'GothamMedium_1';
}

.icon-card {
    color: var(--red);
    font-size: larger;
}

.btn.btn-sm.button-card {
    /*MAIS DETALHES*/
    font-family: 'GothamBold';
    color: var(--red);
    font-size: 14px;
    border: 0;
}

#fundo-btn-card {
    /*efeito de slide no botão MAIS DETALHES*/
    width: 0px;
    background: var(--red);
    transition: width 0.3s;
    white-space: nowrap;
    border-radius: 0;

}

#fundo-btn-card:hover,
#fundo-btn-card:hover button {
    width: 8rem;
    color: var(--white);
    border-radius: 0;
}

/*Tag informativa das imagens (pré lançamento, pronto para morar ...*/
.container {
    position: relative;
}

#image {
    position: absolute;
}

#txt-tag-card {
    position: absolute;
    top: 26rem;
    font-size: 14px;
    font-family: 'GothamBold';
    color: black;
    background: rgba(255, 255, 255, 0.6);
    width: auto;
    padding: 8px;
}




/*Botão Ver todos lançamentos*/
.container-btn-tds-lancamentos{
    align-items: center;
    text-align: center;
}


.btn-ver-tds-lancamentos{
    padding: 16px;
    margin: 10px;
    font-size: 24px;
    line-height: 24px;
    border: none;
    color: white;
    background-color: var(--red);
    border-radius: 3px;
    box-shadow: inset 0 0 0 0 black;
    transition: ease-out 0.3s;
    outline: none;
}

.btn-ver-tds-lancamentos:hover{
    box-shadow: inset 400px 0 0 0 black;
    color: white;
}

/* Card Fale com um corretor*/

.bg-card-corretor {
    background-color: #fefefe;
}
.card-title {  
    /*Fale com um corretor*/
    font-family: 'Gothambook';
    font-style: normal;
    font-weight: 300;
    font-size: 3.438rem; 
    color: var(--red);
}

.card-txt{ 
    /*Encontre um imóvel sob medida para sua necessidade e da sua família.*/
    font-family: 'Gotham-Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #737380;
}

.btn-corretor{
    /*Botão Falar com um corretor*/
    height: 36px;
    width: 266px;
    left: 0px;
    top: 0px;
    border-radius: 3px;
    font-size: 15px;
    line-height: 24px;
    border: none;
    color: white;
    background-color: black;
    box-shadow: inset 0 0 0 0 var(--red);
    transition: ease-out 0.3s;
    outline: none;
    font-family: 'Gothambook'
}

.btn-corretor:hover{
    box-shadow: inset 400px 0 0 0 var(--red);
    color: white;
}

/*Footer*/
.line-footer{
    background-color: var(--red);
    height: 4px;
}

.bg-footer{
    background-color: var(--blue);
}

.text-footer, .text-footer ul li {
    color: white;
}

.font-family-footer{
    font-family: 'GothamBook';
}

.bg-info-footer{
    /* © 2022 - Franco Imobiliária. Todos os Direitos Reservados. */
    /* Desenvolvido por Move Digital */
    background-color: #271F6C;
}

/*Modal Menu*/
.bg-menu{
    background-repeat: no-repeat; 
    background-size: 100%;
    
}

.bg-menu-left {
    background-color: var(--blue);
    filter: opacity(90%);
}

.bg-menu-right {
    background-color: var(--red);
    filter: opacity(90%);
}

.menu {
  height: 100%;
 }

 .modal-dialog.modal-fullscreen.w-auto {
    width: auto !important;
 }

.text-menu-right ul li {
    font-size: 28px;
    font-family: 'GothamBook';
    color: var(--white);
}

.text-menu-left,.text-menu-left ul li {
    font-size: 16px;
    font-family: 'GothamBook';
    color: var(--white);
}

/*=================================================================================================================*/
/*==============================================TAMANHOS RESPONSIVOS===============================================*/
/*=================================================================================================================*/
@media (max-width: 1024px) {
    .img-logo {
        width: 80%;
    }

    .txt-botao-header {
        /*inferior a 1024px esconde os textos dos botões do header que aparecem para desktop*/
        visibility: visible;
        visibility: hidden;
        visibility: collapse;
        display: none;
    }

    .botao-header-desktop {
        /*esconde botão de Buscar lançamentos para exibir o botão em modo mobile*/
        display: none !important;
    }

    #carouselExampleIndicators>div.carousel-inner>div.carousel-item.active>div>h1 {
        font-size: 35px;
        width: 95%;
    }

    .txt-carrossel-1 {
        /*Novo conceito de inteligência desbloqueado.*/
        color: var(--white);
        font-weight: 300;
    }

    .sub-txt-carrossel-1 {
        /*Apartamentos de 63,33m²*/
        font-size: 20px;
        font-weight: 600;
        color: var(--red);
        width: 90% !important;
    }

    .carousel-caption {
        position: relative !important;
        left: 5% !important;
    }

    #carouselExampleIndicators>div.carousel-inner>div.carousel-item.active>div>div {
        width: 205px;
    }

    #carouselExampleIndicators>div.carousel-inner>div.carousel-item.active>div>div {
        padding-top: 0.5rem;
    }

    #carouselExampleIndicators>div.carousel-inner>div.carousel-item.active>div>div>button {
        color: var(--white);
        background-color: var(--red);
        border-radius: 3px;
        border: none;
    }

    #carouselExampleIndicators>div.carousel-inner>div.carousel-item.active>div>div>button:hover {
        background-color: black;
        color: var(--white);
        border: none;
    }

    #carouselExampleIndicators>div.carousel-indicators.justify-content-start {
        bottom: 250px;
        color: var(--white);
        margin-left: 50px;
    }

    .carousel-indicators.justify-content-start {
        margin-left: 6rem;
    }

    .h2-carrossel-2 {
        /*Loteamento fechado de alto padrão em Taubaté!*/
        color: black;
        font-size: 32px;
        margin-bottom: 0;
    }

    .h2-carrossel-2 {
        /*Loteamento fechado de alto padrão em Taubaté!*/
        font-size: 20px;
        font-weight: 600;
        width: 332px;
    }

    .sub-txt-carrossel-2 {
        /*Terrenos de 250m² a 550m*/
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 0;
    }

    #txt-tag-card {
        /*Posicionamento da Tag informativa das imagens (pré lançamento, pronto para morar ... no mobile*/
        top: 21.4rem;
    }

    .btn-ver-tds-lancamentos {
        width: 15.625rem;
        margin-left: 3.125rem;
        margin-right: 3.125rem;
        font-size: 16px;
        line-height: 16px;
    }

    /* Card Fale com um corretor*/
    .card-title {
        /*Fale com um corretor*/
        font-size: 2.625rem;
        text-align: center;
    }

    .card-txt {
        /*Encontre um imóvel sob medida para sua necessidade e da sua família.*/
        text-align: center;
        font-size: 20px;
    }

    .container-btn-corretor {
        /*Botão Falar com um corretor*/
        align-items: center;
        text-align: center;
    }

}

@media (max-width: 767px) {
    #carouselExampleIndicators>div.carousel-inner>div.carousel-item.active>div>h1{
        /* Texto carrossel "Novo conceito de inteligência desbloqueado"*/
        font-size: 32px;
    }

    div.carousel-caption {
        padding-bottom: 1rem;
        bottom: 17rem;
    }

    #carrossel-2 {
        /*Todo conteudo da div incluindo h1, h2, button, etc*/
        padding-bottom: 2rem;
    }

    .sub-txt-carrossel-2{
        margin-bottom: 4px;
    }
  /*Conteúdo album/catálogo */
    
  .txt-tag-card{ 
    /*novo estilo tag que funciona mac*/
    bottom: 36px;
    color: black;
    background: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-family: 'GothamBold';
    line-height: 1.58;
    padding: 5px 10px;
    margin-bottom: -15px;
    width: fit-content;
    font-family: 'GothamBold';
}
    /*Conteúdo album/catálogo */

    .txt-tag-card{ 
    /*novo estilo tag que funciona mac*/
    bottom: 36px;
    color: black;
    background: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-family: 'GothamBold';
    line-height: 1.58;
    padding: 5px 10px;
    margin-bottom: -15px;
    width: fit-content;
    font-family: 'GothamBold';
}
    /*================modal menu novo==================*/
    .body-modal-menu {
        background-image: url(/static/imagens/bg-menu-p.png);
    }

    .logo-menu-fullscreen-desktop {
        display: none !important;
    }

    .body-modal-menu {
        height: fit-content !important;
    }

    .menu-left{
        background-color: var(--blue);
        width: 100%;
        filter: opacity(90%);
        min-height: 32vh;
        height: fit-content!important;
    }

    .menu-right{
        background-color: var(--red);
        width: 100%;
        filter: opacity(90%);
        min-height: 68vh;
        height: fit-content!important;
    }

    .logo-menu-fullscreen-mobile{
        width: 80%;
    }

    .btn.fechar-modal {
        border: none;
    }

    .btn.fechar-modal:hover {
        border: none;
    }

    .text-menu-right ul li {
        font-size: 26px;
        font-family: 'GothamBook';
        color: var(--white);
    }

    .header-menu-fullscreen-mobile{
        padding-top: 1rem;
        margin-bottom: 2.0rem;
    }

    .image-copyright-desktop{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    #carouselExampleIndicators>div.carousel-inner>div.carousel-item.active>div>h1{
            /* Texto carrossel "Novo conceito de inteligência desbloqueado"*/
        font-size: 24px;
    }
    
    div.carousel-caption {
        padding-bottom: 1rem;
        bottom: 12rem; 
    }

    .bg-menu {
        background-image: url(/static/imagens/bg-menu-m2.png);
        width: 100%;
    }   

    div.carousel-caption {
        bottom: 13rem;
    }

    .sub-txt-carrossel-1 {
        /*Apartamentos de 63,33m²*/
        font-size: 12px;
    }

    .btn.button-saiba-mais {
        font-size: 0.75rem;
    }

    #carouselExampleIndicators>div.carousel-indicators.justify-content-start {
        /*Posicionamento dos indincadores do carrossel*/
        bottom: 185px;
    }

    /*Carrossel 2*/

    div.carousel-caption.carousel-caption-2 {
        bottom: 11rem;
        left: 8% !important;
    }

    .h2-carrossel-2 {
        /*Loteamento fechado de alto padrão em Taubaté!*/
        font-size: 19px;
        padding-top: 0rem;
        margin-bottom: 0;
    }
    
    #carrossel-2 {
        padding-bottom: 3.25rem;
    }

    .sub-txt-carrossel-2{
        margin-bottom: 0;
    }

    /*Conteúdo album/catálogo */
    
    .txt-tag-card{ 
        /*novo estilo tag que funciona mac*/
        bottom: 36px;
        color: black;
        background: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        font-family: 'GothamBold';
        line-height: 1.58;
        padding: 5px 10px;
        margin-bottom: -15px;
        width: fit-content;
        font-family: 'GothamBold';
    }

    .h1-txt-card {
        /*Duomo Residencial*/
        font-size: 22px;
    }

    /*================modal menu novo==================*/
    .body-modal-menu {
        background-image: url(/static/imagens/bg-menu-m2.png);
        min-height: 100%;  
    }

    .menu-left{
        background-color: var(--blue);
        width: 33%;
        filter: opacity(90%);
    }

    .menu-right{
        background-color: var(--red);
        width: 67%;
        filter: opacity(90%);
    }

    .logo-menu-fullscreen-mobile {
        display: none;
    }

    .btn.fechar-modal {
        font-size: 22px;
        border: none;
    }

    .btn.fechar-modal:hover {
        border: none;
    }

    .image-copyright-mobile{
        display: none;
    }

    .image-copyright-desktop{
        display: flex;
    }

}

@media (min-width: 1024px) {
    .botao-header-mobile {
        /*esconde botão de Buscar lançamentos para exibir o botão em modo desktop*/
        display: none !important;
    }
    div h1.txt-carrossel-1 {
        /*Novo conceito de inteligência desbloqueado.*/
        font-weight: 300;
        width: 25%;
        font-size: 60px;

    }

    .sub-txt-carrossel-1 {
        /*Apartamentos de 63,33m²*/
        font-weight: 400;
        font-size: 26px;
        line-height: 48px;
        color: var(--red);
    }

    .btn.button-saiba-mais {
        background-color: var(--red);
        color: var(--white);
        border-radius: 3px;
        border: none;
        height: 48px;
        width: 210px;
        left: 1%;
        font-size: 1.25rem;
        font-family: 'Gothambook';
    }

    .btn.button-saiba-mais:hover {
        background-color: black;
        color: var(--white);
        border: none;
    }

    .carousel-caption.carousel-caption-1 {
        right: 0;
        left: 5%;
        padding-bottom: 3rem;
    }

    .carousel-caption {
        left: 5%;
    }

    .h1-carrossel-2 {
        /*Lançamento!*/
        font-weight: 300;
        width: 25% !important;
        font-size: 60px;
    }
    
    /*Modal Menu*/
    .bg-menu {
        background-image: url(/static/imagens/bg-menu-m2.png);
    }


    .logo-menu-fullscreen-mobile {
        display: none;
    }

    .txt-tag-card{ /*novo estilo tag que funciona mac*/
        bottom: 36px;
        color: black;
        background: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        font-family: 'GothamBold';
        line-height: 1.58;
        padding: 5px 10px;
        margin-bottom: -15px;
        width: fit-content;
        font-family: 'GothamBold';
    }


    /*================modal menu novo==================*/
    .body-modal-menu {
        background-image: url(/static/imagens/bg-menu-g.png);
    }

    .menu-left{
        background-color: var(--blue);
        width: 25%;
        filter: opacity(90%);
    }

    .menu-right{
        background-color: var(--red);
        width: 75%;
        filter: opacity(90%);
    }

    .btn.fechar-modal {
        font-size: 22px;
        border: none;
    }

    .btn.fechar-modal:hover {
        border: none;
    }

    .image-copyright-mobile{
        display: none;
    }

    .image-copyright-desktop{
        display: flex;
    }

    .body-modal-menu{
        min-height: 100%;  
    }
}


/*================modal menu novo geral==================*/
.body-modal-menu{
    background-repeat: no-repeat; 
    background-size: 100%;  
}





